body{
    font-size: large;
    background-color: black;
    color:lightgreen;
    text-align:center;
}
button{
    background-color: black;
    color:green;
    font-size: larger;
}
iframe{
    border-color:"green";
}